# Application configuration
APP__ENV=production
APP__LIST_LOG_LEVELS=INFO,DEBUG,WARNING,ERROR,CRITICAL
MODEL_EMBEDDING__NAME=intfloat/multilingual-e5-small

# Vector & SQL configuration
VECTOR__STORE_TYPE=faiss
VECTOR__COLLECTION_NAME_CHUNKS=chunks

VECTOR__WEAVIATE_HOST=localhost
VECTOR__WEAVIATE_PORT=8081
VECTOR__WEAVIATE_API_KEY=
VECTOR__WEAVIATE_GRPC_PORT=50051

VECTOR__CHROMA_HOST=localhost
VECTOR__CHROMA_PORT=8000
