APP__ENV=testing
APP__LIST_LOG_LEVELS=INFO,WARNING,ERROR,CRITICAL

MODEL_EMBEDDING__NAME=paraphrase-multilingual-MiniLM-L12-v2

WEAVIATE__HOST=localhost
WEAVIATE__PORT=8081
WEAVIATE__API_KEY=
WEAVIATE__GRPC_PORT=50051
WEAVIATE__COLLECTION_NAME_YOUTUBE_TRANSCRIPTS=YoutubeTranscripts
