APP__ENV=testing
APP__LIST_LOG_LEVELS=INFO,WARNING,ERROR,CRITICAL
MODEL_EMBEDDING__NAME=paraphrase-multilingual-MiniLM-L12-v2

VECTOR__STORE_TYPE=
VECTOR__WEAVIATE_HOST=
VECTOR__WEAVIATE_PORT=
VECTOR__WEAVIATE_API_KEY=
VECTOR__WEAVIATE_GRPC_PORT=
VECTOR__WEAVIATE_COLLECTION_NAME_CHUNKS=chunks
VECTOR_INDEX_PATH=

SQL__HOST=
SQL__PORT=
SQL__USER=
SQL__PASSWORD=
SQL__DATABASE=
SQL__type=
